.primary {
  background: #212a3e !important;
  color: #fff !important;
  border: 1px solid #212a3e !important;
}
.primary:hover {
  background: #1b2231 !important;
  border: 1px solid #1b2231 !important;
  color: #fff !important;
}

.save {
  background: #17212f !important;
  color: #fff !important;
  border: 1px solid #17212f !important;
}
.save:hover {
  background: #111720 !important;
  border: 1px solid #111720 !important;
  color: #fff !important;
}
