.menu {
  display: flex;
  justify-content: left;
  width: 100vw;
  height: 5vh;
  font-size: large;
  padding: 10px;
  background: #2b5a63;
}
.p-sidebar-mask {
  .p-sidebar {
    background: #2b5a63;
    .p-sidebar-content {
      padding: 0;
      display: flex;
      overflow: hidden;
      a {
        .p-button {
          color: white;
          align-items: start;
          justify-content: start;
          font-size: large;
          min-width: 25vw;
        }
      }
    }
  }
}
