.menu {
  display: flex;
  justify-content: left;
  width: 100vw;
  height: 5vh;
  font-size: large;
  padding: 10px;
}
.p-sidebar-content {
  padding: 0;
  display: flex;
  a {
    .p-button {
      align-items: start;
      justify-content: start;
      font-size: large;
      width: 19vw;
    }
  }
}
