.p-dialog-mask {
  .p-dialog {
    .p-dialog-header {
      color: white;
      background: #9ba4b5;
    }
    .p-dialog-content {
      color: white;
      background: #9ba4b5;
      .forms {
        display: flex;
        width: 75vw;
        height: 50vh;
        flex-direction: column;
        align-items: center;
        .form {
          display: flex;
          align-items: center;
          padding: 25px;
          gap: 35px;
          .row {
            gap: 25px;
            .p-component {
              width: 30vw;
            }
          }
        }
      }
    }
  }
}
.p-button {
  width: 25vw;
  color: white;
  justify-content: center;
  align-items: center;
}
